<%if(token===user.accesstoken){%>

    <h3>Enter New Password</h3>
<form action="/users/confirm-password/<%=user.id%>" method="POST">
    <input type="text" placeholder="Enter New Password" name="p1">
    <input type="text" placeholder="Confirm Password" name="p2">
    <button type="submit">Change Password</button>

<!-- <h1>j</h1> -->

</form>
<!-- 
<%}%>
<%else%>
<%{%>
<h3>Ooops...Your token seems to have expired</h3>
<%}%> -->

